{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
   <div class="content-section">
        <form method="POST" action="">
            {% csrf_token %}
            <fieldset class="form-group mb-4">
                <legend class="border-bottom border-secondary mb-4 pb-2 text-white fw-bold">
                    Reset Password
                </legend>
                {{ form|crispy  }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-primary" type="Submit">Request Password Reset</button>
            </div>
        </form>
    </div>
{% endblock content %}