{% extends "blog/base.html" %}

{% block content %}
    <div class="alert bg-transparent border-primary text-white border-2" style="background: rgba(124, 58, 237, 0.1) !important;">
        <i class="fa-solid fa-envelope-circle-check text-primary me-2 flex-shrink-0" style="font-size: 1.5rem;"></i>
        <div class="ms-2 d-inline-block">
            <strong>Check your inbox!</strong> An email has been sent with instructions to reset your password.
        </div>
    </div>
{% endblock content %}